<section>
  <h1 class="text-center mt-5">Submit a New Bid</h1>
  <p class="text-center">Choose the route and load type, enter your bid, and start competing with other carriers.</p>

  <%= render 'bids/form' %>
</section>
